.movies {
   flex-grow: 1;
   background-color: #202020;
}

.movies__container {
   max-width: 1170px;
   width: 100%;
   height: 100%;
   margin: 0 auto;
   box-sizing: border-box;
   padding-left: 15px;
   padding-right: 15px;
   display: flex;
   flex-direction: column;
}

.movies__btn {
   padding: 0;
   border: none;
   font: inherit;
   color: inherit;
   background-color: transparent;
   cursor: pointer;
   color: #FFF;
   text-align: center;
   font-family: 'Inter', 'Arial', sans-serif;
   font-size: 12px;
   font-style: normal;
   font-weight: 500;
   line-height: normal;
   margin-top: 60px;
   width: 100%;
   border-radius: 6px;
   background: #2F2F2F;
   height: 36px;
   margin-bottom: 80px;
}

.movies__btn:hover {
   opacity: 0.5;
   transition: opacity .2s;
}

@media (max-width: 980px) {
   .movies__container {
      padding-right: 30px;
      padding-left: 30px;
   }
}

@media (max-width: 767px) {
   .movies__btn {
      margin-top: 80px;
   }
}