.footer {
   background-color: #202020;
}

.footer__container {
   margin: 0 auto;
   max-width: 1170px;
   width: 100%;
   box-sizing: border-box;
   padding-left: 15px;
   padding-right: 15px;
}

.footer__text {
   margin: 0;
   padding: 0;
   padding-top: 79px;
   padding-bottom: 20px;
   color: #8B8B8B;
   text-align: center;
   font-family: Inter;
   font-size: 13px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   border-bottom: 1px solid #424242;
}

.footer__info {
   display: flex;
   justify-content: space-between;
   padding-bottom: 20px;
}

.footer__copyright {
   margin: 0;
   padding: 0;
   margin-top: 20px;
   color: #FFF;
   font-family: Inter;
   font-size: 13px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
}

.footer__links {
   margin: 0;
   display: flex;
   margin-top: 20px;
}

.footer__item {
   list-style-type: none;
}

.footer__link {
   margin-left: 20px;
   text-decoration: none;
   color: #FFF;
   text-align: right;
   font-family: Inter;
   font-size: 13px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
}

.footer__link:hover {
   opacity: 0.5;
   transition: opacity 0.2s;
}

@media (max-width: 980px) {
   .footer__container {
      padding-left: 30px;
      padding-right: 30px;
   }
}

@media (max-width: 550px) {
   .footer__container {
      padding-left: 14px;
      padding-right: 14px;
   }

   .footer__text {
      font-size: 12px;
   }

   .footer__info {
      flex-direction: column-reverse;
   }

   .footer__links {
      padding: 0;
      margin-top: 30px;
      flex-direction: column;
      align-items: center;
      gap: 12px;
   }

   .footer__link {
      font-size: 12px;
   }

   .footer__copyright {
      margin-top: 30px;
      align-self: center;
      color: #8B8B8B;
      font-size: 12px;
   }
}