.about-me {
   background-color: #202020;
}

.about-me__container {
   margin: 0 auto;
   max-width: 1170px;
   width: 100%;
   box-sizing: border-box;
   padding-left: 15px;
   padding-right: 15px;
}

.about-me__title {
   margin: 0;
   padding: 0;
   padding-top: 110px;
   padding-bottom: 23px;
   color: #FFF;
   font-family: 'Inter', 'Arial', sans-serif;
   font-size: 22px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   letter-spacing: -0.88px;
   border-bottom: 1px solid #DADADA;
}

.about-me__content {
   display: flex;
   justify-content: space-between;
   margin-top: 66px;
}

.about-me__information {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.about-me__life {
   max-width: 600px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.about-me__name {
   margin: 0;
   padding: 0;
   color: #FFF;
   font-family: 'Inter', 'Arial', sans-serif;
   font-size: 50px;
   font-style: normal;
   font-weight: 400;
   line-height: 58px;
   /* 116% */
   letter-spacing: -2px;
}

.about-me__info {
   margin: 0;
   margin-top: 18px;
   padding: 0;
   color: #FFF;
   font-family: 'Inter', 'Arial', sans-serif;
   font-size: 18px;
   font-style: normal;
   font-weight: 500;
   line-height: 20px;
   /* 111.111% */
}

.about-me__text {
   margin: 0;
   margin-top: 26px;
   padding: 0;
   color: #FFF;
   font-family: 'Inter', 'Arial', sans-serif;
   font-size: 14px;
   font-style: normal;
   font-weight: 400;
   line-height: 22px;
   /* 157.143% */
}

.about-me__avatar {
   max-width: 270px;
   border-radius: 10px;
}

.about-me__link {
   text-decoration: none;
   color: #FFF;
   font-family: 'Inter', 'Arial', sans-serif;
   font-size: 14px;
   font-style: normal;
   font-weight: 500;
   line-height: normal;
}

.about-me__link:hover {
   opacity: 0.5;
   transition: opacity 0.2s;
}

@media (max-width: 980px) {
   .about-me__container {
      padding-left: 50px;
      padding-right: 50px;
   }

   .about-me__title {
      padding-top: 90px;
   }

   .about-me__content {
      margin-top: 90px;
   }

   .about-me__name {
      font-size: 40px;
      line-height: 40px;
      letter-spacing: -1.6px;
   }

   .about-me__info {
      font-size: 12px;
      line-height: 18px;
   }

   .about-me__text {
      font-size: 12px;
      line-height: 18px;
   }

   .about-me__avatar {
      margin-left: 49px;
      max-width: 255px;
      max-height: 299px;
   }
}

@media (max-width: 550px) {
   .about-me__container {
      padding-left: 14px;
      padding-right: 14px;
   }

   .about-me__content {
      margin-top: 60px;
      flex-direction: column-reverse;
      align-items: center;
   }

   .about-me__avatar {
      margin: 0;
      min-width: 292px;
      max-height: 350px;
   }

   .about-me__title {
      padding-top: 70px;
      padding-bottom: 28px;
   }

   .about-me__information {
      margin-top: 40px;
   }

   .about-me__name {
      font-size: 30px;
      letter-spacing: -1.2px;
   }

   .about-me__info {
      font-size: 11px;
      line-height: 16px;
      margin-top: 20px;
   }

   .about-me__text {
      font-size: 11px;
      line-height: 16px;
      margin-top: 20px;
   }

   .about-me__link {
      margin-top: 40px;
   }

}